<h1>Clubs EPRIT</h1>
<p>Depuis plus d’une quinzaine d’années, ESPRIT connait une vie associative riche grâce à la volonté, l’engagement, la motivation et la passion de membres qui 
se sont relayés pour faire des clubs d’Esprit une référence dans l’univers des clubs estudiantins.</p>
<img src="{{ asset('img/etudiants.png') }}" alt="Etudiants"  width="500" >